body {
    background-color: bisque;
}

form {
    text-align: center;
    margin-top: 300px;
}

footer {
    text-align: center;
}

input,
button {
    font-weight: 320px;
    outline: none;
    font-size: 1.5em;
    letter-spacing: 3px;
}

input {
    height: 50px;
    width: 350px;
    text-transform: capitalize
}

button {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: indianred;
    color: white;
    cursor: pointer;
}
