body {
    background-color: black;
    color: deepskyblue;
}

h1 {
    font-family: cursive;
    font-size: 5em;
    text-align: center
}

form {
    text-align: center;
    margin-top: 200px;
}

#searchResults {
    text-align: center;
    width: 81%;
    margin: 0 auto;
}

footer {
    text-align: center;
}

input,
button {
    font-weight: 200;
    outline: none;
    font-size: 2.5em;
    letter-spacing: 3px;
}

input {
    height: 50px;
    width: 814px;
    text-align: center;
    text-transform: capitalize;
}

button {
    height: 54px;
    width: 176px;
    border-radius: 10px;
    background-color: #000000;
    cursor: pointer;
    color: deepskyblue;
}

li {
    display: inline-block;
    width: 49%;
    padding: .3%;
    margin-top: 5%;
}

li img {
    width: 95%;
}

li b {
    font-size: 1.65em;
}
